/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
  box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html,
body,
figure {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

/* Default font and size */
body {
  font-family: sans-serif;
  font-size: 1.1rem;
}

a {
  color: rgb(0, 0, 100);
  text-decoration: none;
}

h1 {
  color: rgb(0, 0, 100);
  text-decoration: underline;
}

p {
  color: rgb(0, 0, 100);
  text-decoration: none;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(90deg, white 5%, rgb(255, 0, 127));
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(0, 0, 100);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.boxed-hermes {
  border: 2px solid rgb(0, 0, 100);
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 1rem;
  color: rgb(0, 0, 100);
  background-color: rgb(255, 204, 229);
}

.boxed {
  border: 2px solid rgb(255, 0, 127);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: rgb(255, 204, 229);
  border-radius: 20px;
}

.sidenav {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: max-width;
  right: 0;
  background-color: rgb(160, 160, 160);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: 0.3s;
}

#main {
  transition: margin-left 0.5s;
}

.sidenav a:hover {
  color: rgb(255, 0, 127);
}

/* END */
nav-item {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
}

.nav-item:hover {
  background-color: rgb(132, 170, 232);
}

.nav-item:hover i {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transform: rotate(360deg);
}

.toggle {
  width: 90px;
  height: 90px;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 2;
}

.toggle:hover {
  -webkit-animation: bounce 1s cubic-bezier(0, 0.42, 0.42, 1);
  animation: bounce 1s cubic-bezier(0, 0.42, 0.42, 1);
}

.nav-item,
.toggle,
.wobble {
  position: absolute;
  bottom: 35px;
  left: 50%;
  text-align: center;
  background-color: rgb(132, 170, 232);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0, 0.42, 0.42, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0.42, 0.42, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0.42, 0.42, 1);
  transition: all 0.2s cubic-bezier(0, 0.42, 0.42, 1);
}

.nav-item i {
  line-height: 50px;
}

.toggle i {
  line-height: 80px;
}
/* Wobble effect & Slideout nav */

.wobble {
  width: 70px;
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
}
/* Slide-out */

nav .slide-out:nth-child(1) {
  -webkit-transform: translate(90px, -20px) scale(1.2);
  transform: translate(90px, -20px) scale(1.2);
}

nav .slide-out:nth-child(2) {
  -webkit-transform: translate(160px, -40px);
  transform: translate(160px, -40px);
}

nav .slide-out:nth-child(3) {
  -webkit-transform: translate(-20px, -20px) scale(1.2);
  transform: translate(-110px, -20px) scale(1.2);
}

nav .slide-out:nth-child(4) {
  transform: translate(-180px, -40px);
}
/* Bounce */

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: scale(1.1);
  }
  30% {
    -webkit-transform: scale(0.95);
  }
}

@keyframes bounce {
  50% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(0.95);
  }
}
/* Wobble effect */

.ripple:nth-child(1) {
  -webkit-animation: wobble-1 1s ease-in-out;
  animation: wobble-1 1s ease-in-out;
}

.ripple:nth-child(2) {
  -webkit-animation: wobble-2 1s linear;
  animation: wobble-2 1s linear;
}
/* First blob */

@-webkit-keyframes wobble-1 {
  10% {
    -webkit-transform: translate(-1px, 2px) scale(1.2);
  }
  40% {
    -webkit-transform: translate(2px, -2px) scale(1.2);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
  }
}
/* Second blob */

@-webkit-keyframes wobble-2 {
  20% {
    -webkit-transform: translate(-3px, 3px) scale(1.08);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
  }
}

@keyframes wobble-1 {
  10% {
    transform: translate(-1px, 2px) scale(1.2);
  }
  40% {
    transform: translate(2px, -2px) scale(1.2);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
/* Second blob */

@keyframes wobble-2 {
  20% {
    transform: translate(-3px, 3px) scale(1.08);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
/* Hamburger icon & Animation */

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.cross-left {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.cross-hide {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.cross-right {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.cred {
  font-size: 8pt;
  color: #666464;
  text-decoration: none;
  text-align: center;
  position: absolute;
  bottom: 25%;
  left: 0;
  right: 0;
}

.cred:hover {
  color: #b4d455;
}
